/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root{
    --main-text-color: #1F3F68;
    --main-font-family: 500;
}

/* gantari-regular - latin */
@font-face {
    font-family: "Gantari";
    font-display: swap;
    font-weight: 400;
    src: url("../fonts/gantari-v1-latin-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("../fonts/gantari-v1-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  @font-face {
    font-family: "Gantari";
    font-display: swap;
    font-weight: 500;
    src: url("../fonts/gantari-v1-latin-500.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("../fonts/gantari-v1-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* Poppins */

  @font-face {
    font-family: "Poppins";
    font-display: swap;
    font-weight: 400;
    src: url("../fonts/poppins-v20-latin-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("../fonts/poppins-v20-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  @font-face {
    font-family: "Poppins";
    font-display: swap;
    font-weight: 500;
    src: url("../fonts/poppins-v20-latin-500.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("../fonts/poppins-v20-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  *{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

body{
    font-family: "Gantari";
}

.site-header{
    width: 1240px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    padding: 48px 0px;
}

.container{
    width: 980px;
    margin: 0 auto;
    padding: 0px 20px;
}

.banner-section{
    background-image: url("../images/headerbg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 56px;
    padding: 30px 0px 50px 0px;
}

.title{
    font-size: 44px;
    color: #fff;
    font-weight: 500;
}

.banner-text-wrap{
    width: 780px;
    font-family: "Poppins";
    font-size: 20px;
    color: #ffffff90;
    text-align: center;
}

/* Popular */

.search-input{
    width: 940px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #F4F4F4;
    margin-bottom: 56px;
    padding-left: 27px;
    border-radius: 10px;
}

.search-input::before{
    width: 18px;
    height: 18px;
    display: inline-block;
    background-image: url("../images/search.svg");
    margin-right: 27px;
    content: "";
}

.input-search{
    width: 100%;
    padding: 19px 27px;
    border-radius: 0px 10px 10px 0px;
    border: none;
    outline-color: #e4e3e3;
    background-color: #F4F4F4;
    color:  #1F3F68;;
}

.popular-text{
    font-size: 20px;
    color: #356EAD;
    font-weight: var(--main-font-family);
}

.popular-info-wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 50px;
}

.popular-info-start{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 30px;
    padding-right: 20px;
}

.popular-title{
    font-size: 48px;
    margin: 0;
    color: #1F3F68;
    font-weight: var(--main-font-family);
}

.popular-info-start-text{
    font-family: "Poppins";
    opacity: 0.6;
}

.share-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 100px;
}

.read-person{
    font-size: 14px;
    color: #1F3F68;;
    margin: 0;
    margin-bottom: 4px;
}

.read-time{
    font-size: 14px;
    opacity: 0.4;
}

.save-and-share{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.save-link{
    margin-right: 38px;
}

/* Popular list */

.popular-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 40px;
    padding: 0;
}

.popular-list-item{
    width: 300px;
    list-style: none;
}

.popular-item-title{
    font-size: 20px;
    color: #1F3F68;;
    margin: 10px 0px;
    font-weight: var(--main-font-family);
    letter-spacing: 0.04em;
}

.popular-item-text{
    font-family: "Poppins";
    font-size: 14px;
    color: #00000099;
}

.item{
    padding: 0;
}

.popular-bottom-text-wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    border-bottom: 1px solid #00000045;
    padding-bottom: 24px;
    margin-bottom: 56px;
}

.popular-bottom-text{
    margin: 0;
    font-size: 16px;
    color: #356EAD;
    font-weight: var(--main-font-family);
}

/* All article */

.all-article{
    padding-bottom: 96px;
}

.all-article-heading{
    font-size: 18px;
    color: #356EAD;
    font-weight: var(--main-font-family);
}

.all-article-list{
    margin-bottom: 56px;
    padding: 0;
}

.all-article-list-item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 859px;  
    margin-bottom: 32px;  
}

.article-item-info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 20px;
    padding: 5px 0px;
}

.item-info-title{
    font-size: 23px;
    color: #1F3F68;
    margin: 0;
    font-weight: var(--main-font-family);
}

.item-info-text{
    color: #00000099;
    margin: 0;
}

.article-share{
    width: 400px;
}

.arrow-posts-wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;
}

.post-arrow{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: var(--main-font-family);
    color: #356EAD;
    text-decoration: none;
}

.arrow-left::before{
    width: 12px;
    height: 12px;
    display: block;
    background-image: url("../images/arrow\ left.svg");
    margin-right: 19px;
    content: "";
}

.arrow-right::after{
    width: 12px;
    height: 12px;
    display: block;
    background-image: url("../images/arrow\ right.svg");
    margin-left: 19px;
    content: "";
}

/* Footer */

.site-footer{
    background-image: url("../images/footerbg.png");
    background-position: calc(50%  - 125px);
    background-repeat: no-repeat;
    padding-top: 91px;
}


.footer-start-wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 96px;
}

.footer-start-text-wrap{
    width: 460px;
    margin-right: 150px;
}


.footer-start-heading{
    font-size: 36px;
    color: #fff;
}

.footer-start-text{
    color: #fff;
    opacity: 0.6;
}

.footer-start-link{
    padding: 15px 74px;
    background-color:  #5A98D0;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
}

.footer-seperator{
    width: 1073px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    left: 0;
    opacity: 0.5;
}

.footer-end-wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 200px;
}

.footer-list{
    padding: 0;
    margin: 0;
    margin-right: 50px;
    list-style: none;
}

.footer-list-item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 280px;
    margin-bottom: 20px;
}

.footer-logo-title{
    margin: 0;
    font-size: 25px;
    color: #fff;

}

.footer-item-title{
    color: #fff;
    margin-right: 16px;
}

.footer-item-text{
    color: #fff;
}

.footer-about-list{
    margin: 0;
    padding: 0;
    margin-right: 77px;
}

.about-list-item{
    color: #fff;
    list-style: none;
}

.about-us-heading{
    margin: 0;
    margin-bottom: 40px;
}

.about-text{
    display: block;
    margin-bottom: 30px;
    color: #fff;
    text-decoration: none;
}

.footer-follow-list{
    padding: 0;
    margin: 0;
}






/* Form */


.form-wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 200px;
}

.form-start-wrap{
    width: 301px;
}

.form-img{
    margin-bottom: 71px;
}

.form-start-heading{
    margin: 0;
    margin-bottom: 20px;
    color: #1F3F68;
    font-weight: var(--main-font-family);
}

.form-start-text{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    color:  #1F3F68;;
    opacity: 0.6;  
}

.address-text{
    margin-bottom: 40px;
}

.first-number::before{
    width: 18px;
    height: 18px;
    display: inline-block;
    background-image: url("../images/call.svg");
    margin-right: 20px;
    content: "";
}

.last-number{
    display: block;
    margin-bottom: 40px;
}

.last-number::before{
    width: 18px;
    height: 18px;
    display: inline-block;
    background-image: url("../images/call.svg");
    margin-right: 20px;
    content: "";
}

.web-site::before{
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url("../images/browser.svg");
    margin-right: 20px;
    content: "";
}

.service-email::before{
    width: 20px;
    height: 16px;
    display: inline-block;
    background-image: url("../images/email.svg");
    margin-right: 20px;
    content: "";
}

/* Login form */

.form-end-wrap{
    width: 540px;
    padding: 56px;
    -webkit-box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
            box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
}

.login-form-title{
    margin-bottom: 48px;
    font-size: 18px;
    color: #1F3F68;
    font-weight: var(--main-font-family);
}


.form-label{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 8px;
    color: #1F3F68;
    opacity: 0.8;
}

.form-input{
    padding: 21px 40px;
    margin-top: 8px;
    border: 1px solid #356EAD;
    border-radius: 10px;
    outline: none;
}

.email-label{
    margin-top: 32px;
}

.form-input::-webkit-input-placeholder{
    opacity: 0.3;
}

.form-input::-moz-placeholder{
    opacity: 0.3;
}

.form-input:-ms-input-placeholder{
    opacity: 0.3;
}

.form-input::-ms-input-placeholder{
    opacity: 0.3;
}

.form-input::placeholder{
    opacity: 0.3;
}

.form-input:focus{
    -webkit-box-shadow: 0px 0px 2px 0px #356EAD;
            box-shadow: 0px 0px 2px 0px #356EAD;
}

.message{
    width: 428px;
    height: 144px;
    margin-top: 8px;
    margin-bottom: 72px;
    padding: 20px;
    resize: none;
    border: 1px solid #356EAD;
    border-radius: 10px;
    outline: none;
}

.message::-webkit-input-placeholder{
    opacity: 0.3;
}

.message::-moz-placeholder{
    opacity: 0.3;
}

.message:-ms-input-placeholder{
    opacity: 0.3;
}

.message::-ms-input-placeholder{
    opacity: 0.3;
}

.message::placeholder{
    opacity: 0.3;
}

.message:focus{
    -webkit-box-shadow: 0px 0px 2px 0px #356EAD;
            box-shadow: 0px 0px 2px 0px #356EAD;
}

.form-button{
    padding: 23px 183px;
    background: #5A98D0;
    border: none;
    color: #fff;
    -webkit-box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
            box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
}

.form-button:active{
    opacity: 0.5;
}